#cloud-config
ssh_authorized_keys:
{% for public_key in ssh_public_keys %}
  - {{ public_key }}
{% endfor %}

hostname: "{{ inventory_hostname }}"

write_files:
  ## Configure QEMU Agent
- path: /etc/conf.d/qemu-guest-agent
  content: |-
    GA_PATH=/dev/vport1p1
  owner: root
  permissions: '0644'

{% if static_ip %}
  ## Set static IP
- path: /var/lib/connman/default.config
  content: |-
    [service_eth0]
    Type=ethernet
    IPv4={{ ansible_host }}/255.255.255.0/{{ gateway }}
    IPv6=off
    Nameservers={{ nameservers }}
{% endif %}

{% if kube_vip and manager %}
- path: /var/lib/rancher/k3s/server/manifests/rbac.yaml
  content: |-
    {{ lookup('url', 'https://kube-vip.io/manifests/rbac.yaml', split_lines=False) | indent(4, false) }} 

- path: /var/lib/rancher/k3s/server/manifests/vip.yaml
  content: |-
    {{ lookup('pipe', "curl -sL kube-vip.io/k3s | vipAddress={{ kube_vip }} vipInterface=eth0 sh") | regex_replace('(key: node-role.kubernetes.io/master)', '\\1\n        operator: Exists\n      - key: CriticalAddonsOnly\n        operator: Exists') | indent(4, false) }}

{% endif %}

k3os:
  # modules:
  # - kvm
  sysctl:
    kernel.printk: "4 4 1 7"
    kernel.kptr_restrict: "1"

  labels:
    k3os.io/upgrade: enabled

  ntp_servers:
  - 0.au.pool.ntp.org
  - 1.au.pool.ntp.org

  token: "{{ k3os_token }}"

{% if manager and inventory_hostname == ansible_play_hosts_all[0] %}
  # First manager node
  k3s_args:
  - server
  - --node-external-ip={{ ansible_host }}  
{% if (ansible_play_hosts_all | length) > 1 %}
  - --cluster-init
  - --tls-san={{ kube_vip | default(ansible_host) }}
  - --with-node-id
{% endif %}

{% for service in disabled_services %}
  - --disable={{ service }}
{% endfor %}
  
  # Control only
  taints:
  - CriticalAddonsOnly=true:NoExecute

{% elif manager %}
  # Extra manager node
  k3s_args:
  - server
  - --server=https://{{ kube_vip | default(hostvars[ansible_play_hosts_all[0]]['ansible_host']) }}:6443
  - --node-external-ip={{ ansible_host }}  
  - --with-node-id
{% for service in disabled_services %}
  - --disable={{ service }}
{% endfor %}

  # Control only
  taints:
  - CriticalAddonsOnly=true:NoExecute

{% else %}
  # Worker nodes
  server_url: https://{{ kube_vip | default(hostvars[ansible_play_hosts_all[0]]['ansible_host']) }}:6443
  k3s_args:
  - --with-node-id
  - --node-external-ip={{ ansible_host }}
{% endif %}
